@model bike_club.Controllers.HomeController

<div class="container-fluid w-auto">
    <div class="row mb-5">
        <h3 class="text-center fw-bold">Welcome to the Bike Club</h3>
    </div>
    <div class="row gx-5">
        <div class="col">
            <a class="btn btn-primary d-flex justify-content-center align-items-center" asp-controller="" asp-action="Index">
                Look at the members of the club
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success d-flex justify-content-center align-items-center"
               asp-controller="Login"
               asp-action="Index">
                Login into your account
            </a>
        </div>
    </div>
</div>