@model MBike
@{
    var userId = ViewData["userId"];
}

<div class="container w-50">
    <form asp-controller="Bike" asp-action="Add" method="post" role="form" class="w-50">
        <div class="mb-3">
            <h4>Add a bike</h4>
        </div>
        <input type="hidden" name="userId" value="@userId"/>
        <input type="hidden" name="bikeId" value="@Model?.Id"/>
        <div class="mb-3">
            <label asp-for="Brand" class="form-label">Brand</label>
            <div>
                <input asp-for="Brand" type="text" class="form-control" id="Brand">
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Model" class="form-label">Model</label>
            <div>
                <input asp-for="Model" type="text" class="form-control" id="Model">
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="SerialNumber" class="form-label">Serial Number</label>
            <div>
                <input asp-for="SerialNumber" type="text" class="form-control" id="SerialNumber">
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="PurchaseDate" class="form-label">Purchase Date</label>
            <div>
                <input asp-for="PurchaseDate" type="date" class="form-control" id="pd">
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>